<!-- <mat-toolbar class="Toolbar" style="background: none">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <img class="logo" src="https://cdn-icons-png.flaticon.com/512/8087/8087135.png" alt="">
    <mat-icon mat-button [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">

        <mat-icon class="logout" routerLink="/form-login">logout
        </mat-icon>

      </mat-menu>expand_more
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer class="menu" style="width: 200px;" mode="over" #sidenav>
    <div class="profile">
      <img class="avatar mat-elevation-z8" src="https://cdn-icons-png.flaticon.com/512/1046/1046267.png" alt="">
      <h1 class="mt-3">Jolly Smith</h1>
      <p class="designation">Website Developer</p>
    </div>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>home</mat-icon>Home
      </mat-list-item>
      <mat-list-item routerLink="/account">
        <mat-icon>person</mat-icon>Account
      </mat-list-item>
      <mat-list-item routerLink="/about">
        <mat-icon>info</mat-icon>AboutUs
      </mat-list-item>
      <mat-list-item routerLink="/contact">
        <mat-icon>call</mat-icon>ContactUs
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/can-help">
        <mat-icon>help</mat-icon>Help
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container> -->
